header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: black;
  color: #fff;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: lightblue;
}


h2 {
  margin: 2% 0;
  font-size: 250%;
  display: flex;
  justify-content: left;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 96%;
  margin: 2% auto;
}

.html {
  background-image: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.css {
  background-image: url(https://images.unsplash.com/photo-1534171472159-edb6d1e0b63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2FuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.javascript {
  background-image: url(https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60)
}
.contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: black;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}
